<h1>Pipe</h1>
<h5>{{name | titlecase}}</h5>
<h5>{{today | date:'fullDate'}}</h5>
<h5>{{val | currency:'USD'}}</h5>
<h1>Routing</h1>
<a routerLink="/">Home</a>
<br><br>
<a routerLink="user">User</a>
<br><br>
<a routerLink="admin">Admin</a>
<br><br>
<a routerLink="about">About</a>
<br><br>
<a routerLink="contact">Contact</a>
<br><br>
<a routerLink="login">Login</a>
<br><br>
<a routerLink="signup">Signup</a>
<router-outlet></router-outlet> 
<h1>Modules</h1>
<app-login></app-login>
<app-signup></app-signup>
<app-studentdata></app-studentdata>

<h1>Custom Directive</h1>
<h3>Normal Heading</h3>
<!-- <h3 appCustomstyle>Custom Heading</h3> -->
<p appCustomstyle>Hover over this paragraph to see the directive in action.</p>
<h1>------------</h1>
<app-child (hero)="parentFunc($event)"></app-child>
<p>{{emitedValue}}</p>
<h1>Service</h1>
<p>{{usersValue.name}} {{usersValue.address}} </p>
<h1>Service Data Table</h1>
<!-- <table border="1">
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>USERID</th>
    </tr>
    <tr *ngFor='let item of personData'>
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.userId}}</td>
    </tr>
</table> -->